<ion-view view-title="Countdown">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="countdown in countdowns" type="item-text-wrap" href="#/tab/countdowns/{{countdown.id}}">
        <img ng-src="{{countdown.face}}">
        <h2>{{countdown.name}}</h2>
        <p>{{countdown.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(countdown)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
